*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html{
    font-size: 16px;
}

body{
    width: 100%;
    height: 100%;
    background: 
    #8A51FC;
}
.img1{
    width: 10rem;
    margin: 0 auto;
    display: block;
    margin: 1.25rem auto;
    /*Importante:Para centralizar algo na página,aqui no caso a imagempor padrão ela vem com 
    display inline.Para que ela fique centralizada,é necessaeio colocar margin 0 auto,mais
    é importante trocar o display para block,para ficar centralizado*/

}
.container{
    /*O main por padrao,já é display block,por isso ao colocar o margin 0 auto,ja centraliza*/
    border-radius: 1rem;
    width: 30vw;
    margin: 0 auto;
    padding: 2.8rem 2rem 1.4rem;/*1-em cima 2-dos lados 3-em baixo */

    background:#E5E5E5;
    
}
.container-itens label{
    font-weight: 700;
    font-size: 1rem;

}
.container-itens select,input{
    width: 100%;
    height: 3rem;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 4px;
    margin-bottom: 1.5rem;
    padding-left: 1rem;
    margin-top: 6px;
    color: #555555;
    border: 1px solid #BBBBBB;
    
}

p{
    width: 7rem;
    height: 1.2rem;
    margin-left: 1.4rem;
    font-weight: 700;
    font-size: 1rem;

}
button{
    width:100%;
    height: 3rem;
    background: 
    #772FD3;
    color: 
    #FFFFFF;
    border: none;
    margin-bottom: 1rem;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
}
button:hover{
    opacity: 0.8;
}
.container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #772FD3;
    border-radius: 5px;
    width: 20rem;
    height: auto;
    margin: 0 auto;
    padding: 1rem;
}
.container-itens2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}
.real, .dollar{
    width: 100%;
    color: #777777;
    font-size: 1rem;
}
.currency-value-to-convert, .currency-value{
    width: 100%;
    color: #555555;
    font-weight: 700;
    font-size: 1.3rem;
}